// Variables
// --------------------------

//settings default font path
$gmi-font-path:			"../fonts" !default;

//changing prefix to md-icon for use in classes
$gmi-css-prefix:		md-icon !default;

//listing Google material design icons version
$gmi-icon-version:		"3.0.0" !default;

//setting base font size of icon to 14px
$gmi-font-size-base:   	14px !default;

// settings icon line height to 1
$gmi-line-height-base: 	1 !default;
