/* ==========================================================================
    Main Website Styles go in here. Automatically Applied to the main.scss.
   ========================================================================== */

h1 {
  padding-left: 3%;
}

p, ul {
  width: 80%;
  max-width: 800px;
  padding-left: 2em;
  margin-top: 1em;
  color: $textColor2;
  @include fontList(veranda);

  li {
    font-size: .9em;
    margin-left: 3%;
    color:cadetblue;
  }
}

