// Variables
// --------------------------
$gmi-font-path:			"../fonts" !default;
$gmi-css-prefix:		md-icon !default;
$gmi-icon-version:		"3.0.0" !default;
$gmi-font-size-base:   	14px !default;
$gmi-line-height-base: 	1 !default;
