// CORE
// --------------------------

//* Setting of Primary and secondary Icon colour. */
$primary-color: #aed735;
$secondary-color: #fb8c00;

//* Setting material design icon import. */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('#{$gmi-font-path}/MaterialIcons-Regular.eot?v=#{$gmi-icon-version}'); //* For IE6-8 */
  src: url('#{$gmi-font-path}/MaterialIcons-Regular.eot?#iefix&v=#{$gmi-icon-version}') format('embedded-opentype'),
    url('#{$gmi-font-path}/MaterialIcons-Regular.woff2?v=#{$gmi-icon-version}') format('woff2'),
    url('#{$gmi-font-path}/MaterialIcons-Regular.woff?v=#{$gmi-icon-version}') format('woff'),
    url('#{$gmi-font-path}/MaterialIcons-Regular.ttf?v=#{$gmi-icon-version}') format('truetype'),
    url('#{$gmi-font-path}/MaterialIcons-Regular.svg?v=#{$gmi-icon-version}#materialiconregular') format('svg');
}

//* Setting defaults for material design icons. */
.#{$gmi-css-prefix} {
  direction: ltr;
  display: inline-block;
  font-family: 'Material Icons';
  font-feature-settings: 'liga'; //* Support for IE. */
  font-size: 24px;  //* Preferred icon size */
  -moz-osx-font-smoothing: grayscale; //* Support for Firefox. */
  -webkit-font-smoothing: antialiased;//* Support for all WebKit browsers. */
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-rendering: optimizeLegibility;//* Support for Safari and Chrome. */
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
}

//* Rules for sizing the icon. */
.md-icon.md-1x { font-size: 18px;}
.md-icon.md-2x { font-size: 24px; }
.md-icon.md-3x { font-size: 36px; }
.md-icon.md-4x { font-size: 48px; }

//* Rules for using icons as black on a light background. */
.md-icon.md-dark { color: rgba(0, 0, 0, .54);
  &.md-inactive { color: rgba(0, 0, 0, .26);
  }
}

//* Rules for using icons as white on a dark background. */
.md-icon.md-light { color: rgba(255, 255, 255, 1);
  &.md-inactive { color: rgba(255, 255, 255, .3);
  }
}

//* setting of primary and secondary colour for Icons*/
.md-icon.primary-color { color: $primary-color; }
.md-icon.secondary-color { color: $secondary-color; }
